.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #5d87da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



body {

  background-color: #f1c40f ;


}

.youtube
{
  
border: 3px red dashed ;
margin-top: 150px;
padding-bottom: 30px;
padding-top: 20px;
} 

button {

  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header {
  text-align: center;
}



.nav {
  background-color: #61dafb;
  background-image: url('./aimg.jpg');
  background-position: cover;  
  min-height: 300px;
  background-position:center;
  }
  
  
  